@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Yekan, Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 248 0% 100%;
    --secondaryBg: 233 100% 97%;
    --iconLight: 0 0% 50%;
    --textLight: 218 51% 26%;
    --foreground: 248 0% 10%;
    --card: 248 0% 100%;
    --card-foreground: 248 0% 15%;
    --popover: 248 0% 100%;
    --popover-foreground: 248 95% 10%;
    --primary: 248 78.8% 31.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 248 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 210 10% 95%;
    --muted-foreground: 248 0% 40%;
    --accent: 210 10% 90%;
    --accent-foreground: 248 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 248 0% 100%;
    --border: 248 20% 82%;
    --input: 248 20% 50%;
    --ring: 248 78.8% 31.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 248 10% 10%;
    --iconLight: 229 34% 74%;
    --textLight: 248 0% 65%;
    --secondaryBg: 0 0 15%;
    --foreground: 248 0% 100%;
    --card: 248 0% 10%;
    --card-foreground: 248 0% 100%;
    --popover: 248 10% 5%;
    --popover-foreground: 248 0% 100%;
    --primary: 248 78.8% 31.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 248 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 10% 25%;
    --muted-foreground: 248 0% 65%;
    --accent: 210 10% 25%;
    --accent-foreground: 248 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 248 0% 100%;
    --border: 248 20% 50%;
    --input: 248 20% 50%;
    --ring: 248 78.8% 31.4%;
    --radius: 0.5rem;
  }

  /* :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --card: #ffffff;
    --card-foreground: #262626;
    --popover: #ffffff;
    --popover-foreground: #1a1a33;
    --primary: #204db8;
    --primary-foreground: #ffffff;
    --secondary: #e6e6e6;
    --secondary-foreground: #000000;
    --muted: #f2f2f2;
    --muted-foreground: #666666;
    --accent: #e6e6e6;
    --accent-foreground: #262626;
    --destructive: #bf4040;
    --destructive-foreground: #ffffff;
    --border: #c1c1c1;
    --input: #808080;
    --ring: #204db8;
    --radius: 0.5rem;
  }
  
  .dark {
    --background: #1a1a1a;
    --foreground: #ffffff;
    --card: #1a1a1a;
    --card-foreground: #ffffff;
    --popover: #0d0d0d;
    --popover-foreground: #ffffff;
    --primary: #204db8;
    --primary-foreground: #ffffff;
    --secondary: #333333;
    --secondary-foreground: #ffffff;
    --muted: #404040;
    --muted-foreground: #aaaaaa;
    --accent: #404040;
    --accent-foreground: #e5e5e5;
    --destructive: #bf4040;
    --destructive-foreground: #ffffff;
    --border: #808080;
    --input: #808080;
    --ring: #204db8;
    --radius: 0.5rem;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
